.bt-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 15px 6px;
  font-size: 12px;
  border-radius: 4px;
  transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
  color: #515a6e;
  background-color: #fff;
  border-color: #dcdee2
}

.bt-btn,.bt-btn>.ivu-icon {
  vertical-align: middle;
  line-height: 1.5
}

.bt-btn-icon-only.bt-btn-circle>.ivu-icon {
  vertical-align: baseline
}

.bt-btn>span {
  vertical-align: middle
}

.bt-btn,.bt-btn:active,.bt-btn:focus {
  outline: 0
}

.bt-btn:not([disabled]):hover {
  text-decoration: none
}

.bt-btn:not([disabled]):active {
  outline: 0
}

.bt-btn.disabled,.bt-btn[disabled] {
  cursor: not-allowed
}

.bt-btn.disabled>*,.bt-btn[disabled]>* {
  pointer-events: none
}

.bt-btn-large {
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 4px
}

.bt-btn-small {
  padding: 1px 7px 2px;
  font-size: 12px;
  border-radius: 3px
}

.bt-btn-icon-only {
  padding: 5px 15px 6px;
  font-size: 12px;
  border-radius: 4px
}

.bt-btn-icon-only.bt-btn-small {
  padding: 1px 7px 2px;
  font-size: 12px;
  border-radius: 3px
}

.bt-btn-icon-only.bt-btn-large {
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 4px
}

.bt-btn>a:only-child {
  color: currentColor
}

.bt-btn>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn:hover {
  color: #747b8b;
  border-color: #e3e5e8
}

.bt-btn.active,.bt-btn:active {
  color: #4d5669;
  background-color: #f2f2f2;
  border-color: #f2f2f2
}

.bt-btn.disabled,.bt-btn.disabled.active,.bt-btn.disabled:active,.bt-btn.disabled:focus,.bt-btn.disabled:hover,.bt-btn[disabled],.bt-btn[disabled].active,.bt-btn[disabled]:active,.bt-btn[disabled]:focus,.bt-btn[disabled]:hover,fieldset[disabled] .bt-btn,fieldset[disabled] .bt-btn.active,fieldset[disabled] .bt-btn:active,fieldset[disabled] .bt-btn:focus,fieldset[disabled] .bt-btn:hover {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2
}

.bt-btn.disabled.active>a:only-child,.bt-btn.disabled:active>a:only-child,.bt-btn.disabled:focus>a:only-child,.bt-btn.disabled:hover>a:only-child,.bt-btn.disabled>a:only-child,.bt-btn[disabled].active>a:only-child,.bt-btn[disabled]:active>a:only-child,.bt-btn[disabled]:focus>a:only-child,.bt-btn[disabled]:hover>a:only-child,.bt-btn[disabled]>a:only-child,fieldset[disabled] .bt-btn.active>a:only-child,fieldset[disabled] .bt-btn:active>a:only-child,fieldset[disabled] .bt-btn:focus>a:only-child,fieldset[disabled] .bt-btn:hover>a:only-child,fieldset[disabled] .bt-btn>a:only-child {
  color: currentColor
}

.bt-btn.disabled.active>a:only-child:after,.bt-btn.disabled:active>a:only-child:after,.bt-btn.disabled:focus>a:only-child:after,.bt-btn.disabled:hover>a:only-child:after,.bt-btn.disabled>a:only-child:after,.bt-btn[disabled].active>a:only-child:after,.bt-btn[disabled]:active>a:only-child:after,.bt-btn[disabled]:focus>a:only-child:after,.bt-btn[disabled]:hover>a:only-child:after,.bt-btn[disabled]>a:only-child:after,fieldset[disabled] .bt-btn.active>a:only-child:after,fieldset[disabled] .bt-btn:active>a:only-child:after,fieldset[disabled] .bt-btn:focus>a:only-child:after,fieldset[disabled] .bt-btn:hover>a:only-child:after,fieldset[disabled] .bt-btn>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn:hover {
  color: #57a3f3;
  background-color: #fff;
  border-color: #57a3f3
}

.bt-btn:hover>a:only-child {
  color: currentColor
}

.bt-btn:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn.active,.bt-btn:active {
  color: #2b85e4;
  background-color: #fff;
  border-color: #2b85e4
}

.bt-btn.active>a:only-child,.bt-btn:active>a:only-child {
  color: currentColor
}

.bt-btn.active>a:only-child:after,.bt-btn:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn:focus {
  box-shadow: 0 0 0 2px rgba(45,140,240,.2)
}

.bt-btn-long {
  width: 100%
}

.bt-btn>.ivu-icon+span,.bt-btn>span+.ivu-icon {
  margin-left: 4px
}

.bt-btn-primary {
  color: #fff;
  background-color: #2d8cf0;
  border-color: #2d8cf0
}

.bt-btn-primary>a:only-child {
  color: currentColor
}

.bt-btn-primary>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-primary:hover {
  color: #fff;
  background-color: #57a3f3;
  border-color: #57a3f3
}

.bt-btn-primary:hover>a:only-child {
  color: currentColor
}

.bt-btn-primary:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-primary.active,.bt-btn-primary:active {
  color: #f2f2f2;
  background-color: #2b85e4;
  border-color: #2b85e4
}

.bt-btn-primary.active>a:only-child,.bt-btn-primary:active>a:only-child {
  color: currentColor
}

.bt-btn-primary.active>a:only-child:after,.bt-btn-primary:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-primary.disabled,.bt-btn-primary.disabled.active,.bt-btn-primary.disabled:active,.bt-btn-primary.disabled:focus,.bt-btn-primary.disabled:hover,.bt-btn-primary[disabled],.bt-btn-primary[disabled].active,.bt-btn-primary[disabled]:active,.bt-btn-primary[disabled]:focus,.bt-btn-primary[disabled]:hover,fieldset[disabled] .bt-btn-primary,fieldset[disabled] .bt-btn-primary.active,fieldset[disabled] .bt-btn-primary:active,fieldset[disabled] .bt-btn-primary:focus,fieldset[disabled] .bt-btn-primary:hover {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2
}

.bt-btn-primary.disabled.active>a:only-child,.bt-btn-primary.disabled:active>a:only-child,.bt-btn-primary.disabled:focus>a:only-child,.bt-btn-primary.disabled:hover>a:only-child,.bt-btn-primary.disabled>a:only-child,.bt-btn-primary[disabled].active>a:only-child,.bt-btn-primary[disabled]:active>a:only-child,.bt-btn-primary[disabled]:focus>a:only-child,.bt-btn-primary[disabled]:hover>a:only-child,.bt-btn-primary[disabled]>a:only-child,fieldset[disabled] .bt-btn-primary.active>a:only-child,fieldset[disabled] .bt-btn-primary:active>a:only-child,fieldset[disabled] .bt-btn-primary:focus>a:only-child,fieldset[disabled] .bt-btn-primary:hover>a:only-child,fieldset[disabled] .bt-btn-primary>a:only-child {
  color: currentColor
}

.bt-btn-primary.disabled.active>a:only-child:after,.bt-btn-primary.disabled:active>a:only-child:after,.bt-btn-primary.disabled:focus>a:only-child:after,.bt-btn-primary.disabled:hover>a:only-child:after,.bt-btn-primary.disabled>a:only-child:after,.bt-btn-primary[disabled].active>a:only-child:after,.bt-btn-primary[disabled]:active>a:only-child:after,.bt-btn-primary[disabled]:focus>a:only-child:after,.bt-btn-primary[disabled]:hover>a:only-child:after,.bt-btn-primary[disabled]>a:only-child:after,fieldset[disabled] .bt-btn-primary.active>a:only-child:after,fieldset[disabled] .bt-btn-primary:active>a:only-child:after,fieldset[disabled] .bt-btn-primary:focus>a:only-child:after,fieldset[disabled] .bt-btn-primary:hover>a:only-child:after,fieldset[disabled] .bt-btn-primary>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-primary.active,.bt-btn-primary:active,.bt-btn-primary:hover {
  color: #fff
}

.bt-btn-primary:focus {
  box-shadow: 0 0 0 2px rgba(45,140,240,.2)
}

.bt-btn-group:not(.bt-btn-group-vertical) .bt-btn-primary:not(:first-child):not(:last-child) {
  border-right-color: #2b85e4;
  border-left-color: #2b85e4
}

.bt-btn-group:not(.bt-btn-group-vertical) .bt-btn-primary:first-child:not(:last-child) {
  border-right-color: #2b85e4
}

.bt-btn-group:not(.bt-btn-group-vertical) .bt-btn-primary:first-child:not(:last-child)[disabled] {
  border-right-color: #dcdee2
}

.bt-btn-group:not(.bt-btn-group-vertical) .bt-btn-primary+.bt-btn,.bt-btn-group:not(.bt-btn-group-vertical) .bt-btn-primary:last-child:not(:first-child) {
  border-left-color: #2b85e4
}

.bt-btn-group:not(.bt-btn-group-vertical) .bt-btn-primary+.bt-btn[disabled],.bt-btn-group:not(.bt-btn-group-vertical) .bt-btn-primary:last-child:not(:first-child)[disabled] {
  border-left-color: #dcdee2
}

.bt-btn-group-vertical .bt-btn-primary:not(:first-child):not(:last-child) {
  border-top-color: #2b85e4;
  border-bottom-color: #2b85e4
}

.bt-btn-group-vertical .bt-btn-primary:first-child:not(:last-child) {
  border-bottom-color: #2b85e4
}

.bt-btn-group-vertical .bt-btn-primary:first-child:not(:last-child)[disabled] {
  border-top-color: #dcdee2
}

.bt-btn-group-vertical .bt-btn-primary+.bt-btn,.bt-btn-group-vertical .bt-btn-primary:last-child:not(:first-child) {
  border-top-color: #2b85e4
}

.bt-btn-group-vertical .bt-btn-primary+.bt-btn[disabled],.bt-btn-group-vertical .bt-btn-primary:last-child:not(:first-child)[disabled] {
  border-bottom-color: #dcdee2
}

.bt-btn-dashed {
  color: #515a6e;
  background-color: #fff;
  border-color: #dcdee2;
  border-style: dashed
}

.bt-btn-dashed>a:only-child {
  color: currentColor
}

.bt-btn-dashed>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-dashed:hover {
  color: #747b8b;
  border-color: #e3e5e8
}

.bt-btn-dashed.active,.bt-btn-dashed:active {
  color: #4d5669;
  background-color: #f2f2f2;
  border-color: #f2f2f2
}

.bt-btn-dashed.disabled,.bt-btn-dashed.disabled.active,.bt-btn-dashed.disabled:active,.bt-btn-dashed.disabled:focus,.bt-btn-dashed.disabled:hover,.bt-btn-dashed[disabled],.bt-btn-dashed[disabled].active,.bt-btn-dashed[disabled]:active,.bt-btn-dashed[disabled]:focus,.bt-btn-dashed[disabled]:hover,fieldset[disabled] .bt-btn-dashed,fieldset[disabled] .bt-btn-dashed.active,fieldset[disabled] .bt-btn-dashed:active,fieldset[disabled] .bt-btn-dashed:focus,fieldset[disabled] .bt-btn-dashed:hover {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2
}

.bt-btn-dashed.disabled.active>a:only-child,.bt-btn-dashed.disabled:active>a:only-child,.bt-btn-dashed.disabled:focus>a:only-child,.bt-btn-dashed.disabled:hover>a:only-child,.bt-btn-dashed.disabled>a:only-child,.bt-btn-dashed[disabled].active>a:only-child,.bt-btn-dashed[disabled]:active>a:only-child,.bt-btn-dashed[disabled]:focus>a:only-child,.bt-btn-dashed[disabled]:hover>a:only-child,.bt-btn-dashed[disabled]>a:only-child,fieldset[disabled] .bt-btn-dashed.active>a:only-child,fieldset[disabled] .bt-btn-dashed:active>a:only-child,fieldset[disabled] .bt-btn-dashed:focus>a:only-child,fieldset[disabled] .bt-btn-dashed:hover>a:only-child,fieldset[disabled] .bt-btn-dashed>a:only-child {
  color: currentColor
}

.bt-btn-dashed.disabled.active>a:only-child:after,.bt-btn-dashed.disabled:active>a:only-child:after,.bt-btn-dashed.disabled:focus>a:only-child:after,.bt-btn-dashed.disabled:hover>a:only-child:after,.bt-btn-dashed.disabled>a:only-child:after,.bt-btn-dashed[disabled].active>a:only-child:after,.bt-btn-dashed[disabled]:active>a:only-child:after,.bt-btn-dashed[disabled]:focus>a:only-child:after,.bt-btn-dashed[disabled]:hover>a:only-child:after,.bt-btn-dashed[disabled]>a:only-child:after,fieldset[disabled] .bt-btn-dashed.active>a:only-child:after,fieldset[disabled] .bt-btn-dashed:active>a:only-child:after,fieldset[disabled] .bt-btn-dashed:focus>a:only-child:after,fieldset[disabled] .bt-btn-dashed:hover>a:only-child:after,fieldset[disabled] .bt-btn-dashed>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-dashed:hover {
  color: #57a3f3;
  background-color: #fff;
  border-color: #57a3f3
}

.bt-btn-dashed:hover>a:only-child {
  color: currentColor
}

.bt-btn-dashed:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-dashed.active,.bt-btn-dashed:active {
  color: #2b85e4;
  background-color: #fff;
  border-color: #2b85e4
}

.bt-btn-dashed.active>a:only-child,.bt-btn-dashed:active>a:only-child {
  color: currentColor
}

.bt-btn-dashed.active>a:only-child:after,.bt-btn-dashed:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-dashed:focus {
  box-shadow: 0 0 0 2px rgba(45,140,240,.2)
}

.bt-btn-text {
  color: #515a6e;
  background-color: transparent;
  border-color: transparent
}

.bt-btn-text>a:only-child {
  color: currentColor
}

.bt-btn-text>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-text:hover {
  color: #747b8b;
  background-color: hsla(0,0%,100%,.2);
  border-color: hsla(0,0%,100%,.2)
}

.bt-btn-text.active,.bt-btn-text:active {
  color: #4d5669;
  background-color: rgba(0,0,0,.05);
  border-color: rgba(0,0,0,.05)
}

.bt-btn-text.disabled,.bt-btn-text.disabled.active,.bt-btn-text.disabled:active,.bt-btn-text.disabled:focus,.bt-btn-text.disabled:hover,.bt-btn-text[disabled],.bt-btn-text[disabled].active,.bt-btn-text[disabled]:active,.bt-btn-text[disabled]:focus,.bt-btn-text[disabled]:hover,fieldset[disabled] .bt-btn-text,fieldset[disabled] .bt-btn-text.active,fieldset[disabled] .bt-btn-text:active,fieldset[disabled] .bt-btn-text:focus,fieldset[disabled] .bt-btn-text:hover {
  background-color: #f7f7f7;
  border-color: #dcdee2;
  color: #c5c8ce;
  background-color: #fff;
  border-color: transparent
}

.bt-btn-text.disabled.active>a:only-child,.bt-btn-text.disabled:active>a:only-child,.bt-btn-text.disabled:focus>a:only-child,.bt-btn-text.disabled:hover>a:only-child,.bt-btn-text.disabled>a:only-child,.bt-btn-text[disabled].active>a:only-child,.bt-btn-text[disabled]:active>a:only-child,.bt-btn-text[disabled]:focus>a:only-child,.bt-btn-text[disabled]:hover>a:only-child,.bt-btn-text[disabled]>a:only-child,fieldset[disabled] .bt-btn-text.active>a:only-child,fieldset[disabled] .bt-btn-text:active>a:only-child,fieldset[disabled] .bt-btn-text:focus>a:only-child,fieldset[disabled] .bt-btn-text:hover>a:only-child,fieldset[disabled] .bt-btn-text>a:only-child {
  color: currentColor
}

.bt-btn-text.disabled.active>a:only-child:after,.bt-btn-text.disabled:active>a:only-child:after,.bt-btn-text.disabled:focus>a:only-child:after,.bt-btn-text.disabled:hover>a:only-child:after,.bt-btn-text.disabled>a:only-child:after,.bt-btn-text[disabled].active>a:only-child:after,.bt-btn-text[disabled]:active>a:only-child:after,.bt-btn-text[disabled]:focus>a:only-child:after,.bt-btn-text[disabled]:hover>a:only-child:after,.bt-btn-text[disabled]>a:only-child:after,fieldset[disabled] .bt-btn-text.active>a:only-child:after,fieldset[disabled] .bt-btn-text:active>a:only-child:after,fieldset[disabled] .bt-btn-text:focus>a:only-child:after,fieldset[disabled] .bt-btn-text:hover>a:only-child:after,fieldset[disabled] .bt-btn-text>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-text:hover {
  color: #57a3f3;
  background-color: #fff;
  border-color: transparent
}

.bt-btn-text:hover>a:only-child {
  color: currentColor
}

.bt-btn-text:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-text.active,.bt-btn-text:active {
  color: #2b85e4;
  background-color: #fff;
  border-color: transparent
}

.bt-btn-text.active>a:only-child,.bt-btn-text:active>a:only-child {
  color: currentColor
}

.bt-btn-text.active>a:only-child:after,.bt-btn-text:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-text:focus {
  box-shadow: 0 0 0 2px rgba(45,140,240,.2)
}

.bt-btn-success {
  color: #fff;
  background-color: #19be6b;
  border-color: #19be6b
}

.bt-btn-success>a:only-child {
  color: currentColor
}

.bt-btn-success>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-success:hover {
  color: #fff;
  background-color: #47cb89;
  border-color: #47cb89
}

.bt-btn-success:hover>a:only-child {
  color: currentColor
}

.bt-btn-success:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-success.active,.bt-btn-success:active {
  color: #f2f2f2;
  background-color: #18b566;
  border-color: #18b566
}

.bt-btn-success.active>a:only-child,.bt-btn-success:active>a:only-child {
  color: currentColor
}

.bt-btn-success.active>a:only-child:after,.bt-btn-success:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-success.disabled,.bt-btn-success.disabled.active,.bt-btn-success.disabled:active,.bt-btn-success.disabled:focus,.bt-btn-success.disabled:hover,.bt-btn-success[disabled],.bt-btn-success[disabled].active,.bt-btn-success[disabled]:active,.bt-btn-success[disabled]:focus,.bt-btn-success[disabled]:hover,fieldset[disabled] .bt-btn-success,fieldset[disabled] .bt-btn-success.active,fieldset[disabled] .bt-btn-success:active,fieldset[disabled] .bt-btn-success:focus,fieldset[disabled] .bt-btn-success:hover {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2
}

.bt-btn-success.disabled.active>a:only-child,.bt-btn-success.disabled:active>a:only-child,.bt-btn-success.disabled:focus>a:only-child,.bt-btn-success.disabled:hover>a:only-child,.bt-btn-success.disabled>a:only-child,.bt-btn-success[disabled].active>a:only-child,.bt-btn-success[disabled]:active>a:only-child,.bt-btn-success[disabled]:focus>a:only-child,.bt-btn-success[disabled]:hover>a:only-child,.bt-btn-success[disabled]>a:only-child,fieldset[disabled] .bt-btn-success.active>a:only-child,fieldset[disabled] .bt-btn-success:active>a:only-child,fieldset[disabled] .bt-btn-success:focus>a:only-child,fieldset[disabled] .bt-btn-success:hover>a:only-child,fieldset[disabled] .bt-btn-success>a:only-child {
  color: currentColor
}

.bt-btn-success.disabled.active>a:only-child:after,.bt-btn-success.disabled:active>a:only-child:after,.bt-btn-success.disabled:focus>a:only-child:after,.bt-btn-success.disabled:hover>a:only-child:after,.bt-btn-success.disabled>a:only-child:after,.bt-btn-success[disabled].active>a:only-child:after,.bt-btn-success[disabled]:active>a:only-child:after,.bt-btn-success[disabled]:focus>a:only-child:after,.bt-btn-success[disabled]:hover>a:only-child:after,.bt-btn-success[disabled]>a:only-child:after,fieldset[disabled] .bt-btn-success.active>a:only-child:after,fieldset[disabled] .bt-btn-success:active>a:only-child:after,fieldset[disabled] .bt-btn-success:focus>a:only-child:after,fieldset[disabled] .bt-btn-success:hover>a:only-child:after,fieldset[disabled] .bt-btn-success>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-success.active,.bt-btn-success:active,.bt-btn-success:hover {
  color: #fff
}

.bt-btn-success:focus {
  box-shadow: 0 0 0 2px rgba(25,190,107,.2)
}

.bt-btn-warning {
  color: #fff;
  background-color: #f90;
  border-color: #f90
}

.bt-btn-warning>a:only-child {
  color: currentColor
}

.bt-btn-warning>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-warning:hover {
  color: #fff;
  background-color: #ffad33;
  border-color: #ffad33
}

.bt-btn-warning:hover>a:only-child {
  color: currentColor
}

.bt-btn-warning:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-warning.active,.bt-btn-warning:active {
  color: #f2f2f2;
  background-color: #f29100;
  border-color: #f29100
}

.bt-btn-warning.active>a:only-child,.bt-btn-warning:active>a:only-child {
  color: currentColor
}

.bt-btn-warning.active>a:only-child:after,.bt-btn-warning:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-warning.disabled,.bt-btn-warning.disabled.active,.bt-btn-warning.disabled:active,.bt-btn-warning.disabled:focus,.bt-btn-warning.disabled:hover,.bt-btn-warning[disabled],.bt-btn-warning[disabled].active,.bt-btn-warning[disabled]:active,.bt-btn-warning[disabled]:focus,.bt-btn-warning[disabled]:hover,fieldset[disabled] .bt-btn-warning,fieldset[disabled] .bt-btn-warning.active,fieldset[disabled] .bt-btn-warning:active,fieldset[disabled] .bt-btn-warning:focus,fieldset[disabled] .bt-btn-warning:hover {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2
}

.bt-btn-warning.disabled.active>a:only-child,.bt-btn-warning.disabled:active>a:only-child,.bt-btn-warning.disabled:focus>a:only-child,.bt-btn-warning.disabled:hover>a:only-child,.bt-btn-warning.disabled>a:only-child,.bt-btn-warning[disabled].active>a:only-child,.bt-btn-warning[disabled]:active>a:only-child,.bt-btn-warning[disabled]:focus>a:only-child,.bt-btn-warning[disabled]:hover>a:only-child,.bt-btn-warning[disabled]>a:only-child,fieldset[disabled] .bt-btn-warning.active>a:only-child,fieldset[disabled] .bt-btn-warning:active>a:only-child,fieldset[disabled] .bt-btn-warning:focus>a:only-child,fieldset[disabled] .bt-btn-warning:hover>a:only-child,fieldset[disabled] .bt-btn-warning>a:only-child {
  color: currentColor
}

.bt-btn-warning.disabled.active>a:only-child:after,.bt-btn-warning.disabled:active>a:only-child:after,.bt-btn-warning.disabled:focus>a:only-child:after,.bt-btn-warning.disabled:hover>a:only-child:after,.bt-btn-warning.disabled>a:only-child:after,.bt-btn-warning[disabled].active>a:only-child:after,.bt-btn-warning[disabled]:active>a:only-child:after,.bt-btn-warning[disabled]:focus>a:only-child:after,.bt-btn-warning[disabled]:hover>a:only-child:after,.bt-btn-warning[disabled]>a:only-child:after,fieldset[disabled] .bt-btn-warning.active>a:only-child:after,fieldset[disabled] .bt-btn-warning:active>a:only-child:after,fieldset[disabled] .bt-btn-warning:focus>a:only-child:after,fieldset[disabled] .bt-btn-warning:hover>a:only-child:after,fieldset[disabled] .bt-btn-warning>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-warning.active,.bt-btn-warning:active,.bt-btn-warning:hover {
  color: #fff
}

.bt-btn-warning:focus {
  box-shadow: 0 0 0 2px rgba(255,153,0,.2)
}

.bt-btn-error {
  color: #fff;
  background-color: #ed4014;
  border-color: #ed4014
}

.bt-btn-error>a:only-child {
  color: currentColor
}

.bt-btn-error>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-error:hover {
  color: #fff;
  background-color: #f16643;
  border-color: #f16643
}

.bt-btn-error:hover>a:only-child {
  color: currentColor
}

.bt-btn-error:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-error.active,.bt-btn-error:active {
  color: #f2f2f2;
  background-color: #e13d13;
  border-color: #e13d13
}

.bt-btn-error.active>a:only-child,.bt-btn-error:active>a:only-child {
  color: currentColor
}

.bt-btn-error.active>a:only-child:after,.bt-btn-error:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-error.disabled,.bt-btn-error.disabled.active,.bt-btn-error.disabled:active,.bt-btn-error.disabled:focus,.bt-btn-error.disabled:hover,.bt-btn-error[disabled],.bt-btn-error[disabled].active,.bt-btn-error[disabled]:active,.bt-btn-error[disabled]:focus,.bt-btn-error[disabled]:hover,fieldset[disabled] .bt-btn-error,fieldset[disabled] .bt-btn-error.active,fieldset[disabled] .bt-btn-error:active,fieldset[disabled] .bt-btn-error:focus,fieldset[disabled] .bt-btn-error:hover {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2
}

.bt-btn-error.disabled.active>a:only-child,.bt-btn-error.disabled:active>a:only-child,.bt-btn-error.disabled:focus>a:only-child,.bt-btn-error.disabled:hover>a:only-child,.bt-btn-error.disabled>a:only-child,.bt-btn-error[disabled].active>a:only-child,.bt-btn-error[disabled]:active>a:only-child,.bt-btn-error[disabled]:focus>a:only-child,.bt-btn-error[disabled]:hover>a:only-child,.bt-btn-error[disabled]>a:only-child,fieldset[disabled] .bt-btn-error.active>a:only-child,fieldset[disabled] .bt-btn-error:active>a:only-child,fieldset[disabled] .bt-btn-error:focus>a:only-child,fieldset[disabled] .bt-btn-error:hover>a:only-child,fieldset[disabled] .bt-btn-error>a:only-child {
  color: currentColor
}

.bt-btn-error.disabled.active>a:only-child:after,.bt-btn-error.disabled:active>a:only-child:after,.bt-btn-error.disabled:focus>a:only-child:after,.bt-btn-error.disabled:hover>a:only-child:after,.bt-btn-error.disabled>a:only-child:after,.bt-btn-error[disabled].active>a:only-child:after,.bt-btn-error[disabled]:active>a:only-child:after,.bt-btn-error[disabled]:focus>a:only-child:after,.bt-btn-error[disabled]:hover>a:only-child:after,.bt-btn-error[disabled]>a:only-child:after,fieldset[disabled] .bt-btn-error.active>a:only-child:after,fieldset[disabled] .bt-btn-error:active>a:only-child:after,fieldset[disabled] .bt-btn-error:focus>a:only-child:after,fieldset[disabled] .bt-btn-error:hover>a:only-child:after,fieldset[disabled] .bt-btn-error>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-error.active,.bt-btn-error:active,.bt-btn-error:hover {
  color: #fff
}

.bt-btn-error:focus {
  box-shadow: 0 0 0 2px rgba(237,64,20,.2)
}

.bt-btn-info {
  color: #fff;
  background-color: #2db7f5;
  border-color: #2db7f5
}

.bt-btn-info>a:only-child {
  color: currentColor
}

.bt-btn-info>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-info:hover {
  color: #fff;
  background-color: #57c5f7;
  border-color: #57c5f7
}

.bt-btn-info:hover>a:only-child {
  color: currentColor
}

.bt-btn-info:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-info.active,.bt-btn-info:active {
  color: #f2f2f2;
  background-color: #2baee9;
  border-color: #2baee9
}

.bt-btn-info.active>a:only-child,.bt-btn-info:active>a:only-child {
  color: currentColor
}

.bt-btn-info.active>a:only-child:after,.bt-btn-info:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-info.disabled,.bt-btn-info.disabled.active,.bt-btn-info.disabled:active,.bt-btn-info.disabled:focus,.bt-btn-info.disabled:hover,.bt-btn-info[disabled],.bt-btn-info[disabled].active,.bt-btn-info[disabled]:active,.bt-btn-info[disabled]:focus,.bt-btn-info[disabled]:hover,fieldset[disabled] .bt-btn-info,fieldset[disabled] .bt-btn-info.active,fieldset[disabled] .bt-btn-info:active,fieldset[disabled] .bt-btn-info:focus,fieldset[disabled] .bt-btn-info:hover {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2
}

.bt-btn-info.disabled.active>a:only-child,.bt-btn-info.disabled:active>a:only-child,.bt-btn-info.disabled:focus>a:only-child,.bt-btn-info.disabled:hover>a:only-child,.bt-btn-info.disabled>a:only-child,.bt-btn-info[disabled].active>a:only-child,.bt-btn-info[disabled]:active>a:only-child,.bt-btn-info[disabled]:focus>a:only-child,.bt-btn-info[disabled]:hover>a:only-child,.bt-btn-info[disabled]>a:only-child,fieldset[disabled] .bt-btn-info.active>a:only-child,fieldset[disabled] .bt-btn-info:active>a:only-child,fieldset[disabled] .bt-btn-info:focus>a:only-child,fieldset[disabled] .bt-btn-info:hover>a:only-child,fieldset[disabled] .bt-btn-info>a:only-child {
  color: currentColor
}

.bt-btn-info.disabled.active>a:only-child:after,.bt-btn-info.disabled:active>a:only-child:after,.bt-btn-info.disabled:focus>a:only-child:after,.bt-btn-info.disabled:hover>a:only-child:after,.bt-btn-info.disabled>a:only-child:after,.bt-btn-info[disabled].active>a:only-child:after,.bt-btn-info[disabled]:active>a:only-child:after,.bt-btn-info[disabled]:focus>a:only-child:after,.bt-btn-info[disabled]:hover>a:only-child:after,.bt-btn-info[disabled]>a:only-child:after,fieldset[disabled] .bt-btn-info.active>a:only-child:after,fieldset[disabled] .bt-btn-info:active>a:only-child:after,fieldset[disabled] .bt-btn-info:focus>a:only-child:after,fieldset[disabled] .bt-btn-info:hover>a:only-child:after,fieldset[disabled] .bt-btn-info>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 0 0
}

.bt-btn-info.active,.bt-btn-info:active,.bt-btn-info:hover {
  color: #fff
}

.bt-btn-info:focus {
  box-shadow: 0 0 0 2px rgba(45,183,245,.2)
}

.bt-btn-circle,.bt-btn-circle-outline {
  border-radius: 32px
}

.bt-btn-circle-outline.bt-btn-large,.bt-btn-circle.bt-btn-large {
  border-radius: 36px
}

.bt-btn-circle-outline.bt-btn-size,.bt-btn-circle.bt-btn-size {
  border-radius: 24px
}

.bt-btn-circle-outline.bt-btn-icon-only,.bt-btn-circle.bt-btn-icon-only {
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%
}

.bt-btn-circle-outline.bt-btn-icon-only.bt-btn-large,.bt-btn-circle.bt-btn-icon-only.bt-btn-large {
  width: 36px;
  height: 36px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%
}

.bt-btn-circle-outline.bt-btn-icon-only.bt-btn-small,.bt-btn-circle.bt-btn-icon-only.bt-btn-small {
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 14px;
  border-radius: 50%
}

.bt-btn:before {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #fff;
  opacity: .35;
  content: "";
  border-radius: inherit;
  z-index: 1;
  transition: opacity .2s;
  pointer-events: none;
  display: none
}

.bt-btn.bt-btn-loading {
  pointer-events: none;
  position: relative
}

.bt-btn.bt-btn-loading:before {
  display: block
}

.bt-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle
}

.bt-btn-group>.bt-btn {
  position: relative;
  float: left
}

.bt-btn-group>.bt-btn.active,.bt-btn-group>.bt-btn:active,.bt-btn-group>.bt-btn:hover {
  z-index: 2
}

.bt-btn-group .bt-btn-icon-only .ivu-icon {
  font-size: 13px;
  position: relative
}

.bt-btn-group-large .bt-btn-icon-only .ivu-icon {
  font-size: 15px
}

.bt-btn-group-small .bt-btn-icon-only .ivu-icon {
  font-size: 12px
}

.bt-btn-group-circle .bt-btn {
  border-radius: 32px
}

.bt-btn-group-large.bt-btn-group-circle .bt-btn {
  border-radius: 36px
}

.bt-btn-group-large>.bt-btn {
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 4px
}

.bt-btn-group-small.bt-btn-group-circle .bt-btn {
  border-radius: 24px
}

.bt-btn-group-small>.bt-btn {
  padding: 1px 7px 2px;
  font-size: 12px;
  border-radius: 3px
}

.bt-btn-group-small>.bt-btn>.ivu-icon {
  font-size: 12px
}

.bt-btn+.bt-btn-group,.bt-btn-group+.bt-btn,.bt-btn-group+.bt-btn-group,.bt-btn-group .bt-btn+.bt-btn {
  margin-left: -1px
}

.bt-btn-group .bt-btn:not(:first-child):not(:last-child) {
  border-radius: 0
}

.bt-btn-group:not(.bt-btn-group-vertical)>.bt-btn:first-child {
  margin-left: 0
}

.bt-btn-group:not(.bt-btn-group-vertical)>.bt-btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0
}

.bt-btn-group:not(.bt-btn-group-vertical)>.bt-btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.bt-btn-group>.bt-btn-group {
  float: left
}

.bt-btn-group>.bt-btn-group:not(:first-child):not(:last-child)>.bt-btn {
  border-radius: 0
}

.bt-btn-group:not(.bt-btn-group-vertical)>.bt-btn-group:first-child:not(:last-child)>.bt-btn:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-right: 8px
}

.bt-btn-group:not(.bt-btn-group-vertical)>.bt-btn-group:last-child:not(:first-child)>.bt-btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 8px
}

.bt-btn-group-vertical {
  display: inline-block;
  vertical-align: middle
}

.bt-btn-group-vertical>.bt-btn {
  display: block;
  width: 100%;
  max-width: 100%;
  float: none
}

.bt-btn+.bt-btn-group-vertical,.bt-btn-group-vertical+.bt-btn,.bt-btn-group-vertical+.bt-btn-group-vertical,.bt-btn-group-vertical .bt-btn+.bt-btn {
  margin-top: -1px;
  margin-left: 0
}

.bt-btn-group-vertical>.bt-btn:first-child {
  margin-top: 0
}

.bt-btn-group-vertical>.bt-btn:first-child:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.bt-btn-group-vertical>.bt-btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.bt-btn-group-vertical>.bt-btn-group-vertical:first-child:not(:last-child)>.bt-btn:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 8px
}

.bt-btn-group-vertical>.bt-btn-group-vertical:last-child:not(:first-child)>.bt-btn:first-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 8px
}

.bt-btn-ghost {
  color: #fff;
  background: 0 0
}

.bt-btn-ghost:hover {
  background: 0 0
}

.bt-btn-ghost.bt-btn-dashed,.bt-btn-ghost.bt-btn-default {
  color: #fff;
  border-color: #fff
}

.bt-btn-ghost.bt-btn-dashed:hover,.bt-btn-ghost.bt-btn-default:hover {
  color: #57a3f3;
  border-color: #57a3f3
}

.bt-btn-ghost.bt-btn-primary {
  color: #2d8cf0
}

.bt-btn-ghost.bt-btn-primary:hover {
  color: #57a3f3;
  background: rgba(245,249,254,.5)
}

.bt-btn-ghost.bt-btn-info {
  color: #2db7f5
}

.bt-btn-ghost.bt-btn-info:hover {
  color: #57c5f7;
  background: rgba(245,251,254,.5)
}

.bt-btn-ghost.bt-btn-success {
  color: #19be6b
}

.bt-btn-ghost.bt-btn-success:hover {
  color: #47cb89;
  background: rgba(244,252,248,.5)
}

.bt-btn-ghost.bt-btn-warning {
  color: #f90
}

.bt-btn-ghost.bt-btn-warning:hover {
  color: #ffad33;
  background: rgba(255,250,242,.5)
}

.bt-btn-ghost.bt-btn-error {
  color: #ed4014
}

.bt-btn-ghost.bt-btn-error:hover {
  color: #f16643;
  background: hsla(11,85%,97%,.5)
}

.bt-btn-ghost.bt-btn-dashed[disabled],.bt-btn-ghost.bt-btn-default[disabled],.bt-btn-ghost.bt-btn-error[disabled],.bt-btn-ghost.bt-btn-info[disabled],.bt-btn-ghost.bt-btn-primary[disabled],.bt-btn-ghost.bt-btn-success[disabled],.bt-btn-ghost.bt-btn-warning[disabled] {
  background: 0 0;
  color: rgba(0,0,0,.25);
  border-color: #dcdee2
}

.bt-btn-ghost.bt-btn-text[disabled] {
  background: 0 0;
  color: rgba(0,0,0,.25)
}